<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ stylesbuttoninput }}">
</head>
<body>
<table align="left" title="VyOS Registered">
    <div class="row">
        <h1>VyOS Registered</h1>
        {% for x in row %}
        <tr>
            <td>
                <a href="#">
                    <p>{{ x[0] }}</p>
                </a>
            </td>
        </tr>
        {% endfor %}
    </div>
    <tr>
        <td>
            <a href="/add-vy">
                <button type="button" name="add-vy" title="add-vy" id="add-vy" value="ADD VY" onclick="{{ msg }}">
                    ADD
                </button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>